<div class="resupply-location-details-container">
  <h2 mat-dialog-title>{{ location.name }}</h2>

  <div mat-dialog-content>
    <div class=""></div>
    <div
      *ngIf="colors"
      class="main-info"
    >
      <div
        [style.background-color]="colors.main"
        [style.border-color]="colors.border"
        class="resupply-location-details-color-code"
      ></div>
      <div class="resupply-location-details-color-description">{{ colorLegend }}</div>
    </div>

    <div class="main-info resupply-icons-container">
      <fa-icon
        class="icon"
        icon="heart"
        size="2x"
      ></fa-icon>
      <fa-icon
        class="icon"
        icon="campground"
        size="2x"
      ></fa-icon>
      <fa-icon
        class="icon"
        icon="hotel"
        size="2x"
      ></fa-icon>
      <fa-icon
        class="icon"
        icon="cutlery"
        size="2x"
      ></fa-icon>
      <fa-icon
        class="icon"
        icon="cart-shopping"
        size="2x"
      ></fa-icon>
      <fa-icon
        class="icon"
        icon="gear"
        size="2x"
      ></fa-icon>
      <fa-icon
        class="icon"
        icon="envelope"
        size="2x"
      ></fa-icon>
    </div>

    <div class="main-info">
      <div class="main-title">Mile marker:</div>
      <div class="main-data">{{ mileMarker }} miles</div>
    </div>

    <div class="main-info">
      <div class="main-title">Distance from trail:</div>
      <div class="main-data">{{ location.milesFromTrail }} miles</div>
    </div>

    <div class="mt-2">
      <span class="location-description">{{ location.description }}</span>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="resupply-location-details-actions">
      <button
        mat-button
        mat-dialog-close
        class="pct-button pct-button-main"
      >Close</button>
    </div>
  </div>
</div>
