<div class="resupply-location-details-container">
  <h2 mat-dialog-title>
    {{ location.name }}
    <fa-icon
      *ngIf="location.icons.favorite"
      matTooltip="This is a Favorite"
      matTooltipPosition="above"
      class="icon"
      icon="heart"
      size="lg"
    ></fa-icon>
  </h2>

  <div mat-dialog-content>
    <div class=""></div>
    <div
      *ngIf="colors"
      class="main-info"
    >
      <div
        [style.background-color]="colors.main"
        [style.border-color]="colors.border"
        class="resupply-location-details-color-code"
      ></div>
      <div class="resupply-location-details-color-description">{{ colorLegend }}</div>
    </div>

    <div class="main-info resupply-icons-container">
      <fa-icon
        matTooltip="Camping"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.camping"
        icon="campground"
        size="2x"
      ></fa-icon>
      <fa-icon
        matTooltip="Lodging"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.lodging"
        icon="hotel"
        size="2x"
      ></fa-icon>
      <fa-icon
        matTooltip="Restaurant(s)"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.restaurants"
        icon="cutlery"
        size="2x"
      ></fa-icon>
      <fa-icon
        matTooltip="Grocery Store(s)"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.grocery"
        icon="cart-shopping"
        size="2x"
      ></fa-icon>
      <fa-icon
        matTooltip="Gear Shop(s)"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.gearShop"
        icon="gear"
        size="2x"
      ></fa-icon>
      <fa-icon
        matTooltip="Post Office"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.postOffice"
        icon="envelope"
        size="2x"
      ></fa-icon>
      <fa-icon
        matTooltip="Can Ship a Box"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.postOffice || location.icons.box"
        icon="box-open"
        size="2x"
      ></fa-icon>
      <fa-icon
        matTooltip="Store"
        matTooltipPosition="above"
        class="icon"
        [class.active]="location.icons.store"
        icon="store-alt"
        size="2x"
      ></fa-icon>
    </div>

    <div class="main-info">
      <div class="main-title">Mile marker:</div>
      <div class="main-data">{{ mileMarker }} miles</div>
    </div>

    <div class="main-info">
      <div class="main-title">Distance from trail:</div>
      <div class="main-data">{{ location.milesFromTrail }} miles</div>
    </div>

    <div class="mt-2">
      <span class="location-description">{{ location.description }}</span>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="resupply-location-details-actions">
      <button
        mat-button
        mat-dialog-close
        class="pct-button pct-button-main"
      >Close</button>
    </div>
  </div>
</div>
