<div class="resupply-location-container">
  <div
    *ngIf="colors"
    [style.background-color]="colors.main"
    [style.border-color]="colors.border"
    class="timeline-color-circle"
  >
  </div>

  <div>
    <div class="resupply-location-name">{{ location.name }}</div>
    <div class="resupply-location-miles-from-trail">{{ location.milesFromTrail }} miles from trail</div>
  </div>

  <div
    *ngIf="!hideBorder"
    class="resupply-location-connector-container"
  >
    <div class="resupply-location-connector"></div>
  </div>
</div>