<div class="resupply-location-container">
  <div
    class="resupply-location-info"
    (click)="openDialog()"
  >
    <div
      *ngIf="colors"
      [style.background-color]="colors.main"
      [style.border-color]="colors.border"
      class="timeline-color-circle"
    >
    </div>

    <div>
      <div class="resupply-location-name">
        <span>{{ location.name }}</span>
        <fa-icon
          *ngIf="location.icons.favorite"
          matTooltip="Favorite"
          matTooltipPosition="above"
          class="icon m-2"
          icon="heart"
        ></fa-icon>
      </div>
      <div class="resupply-location-miles-from-trail">{{ location.milesFromTrail }} miles from trail</div>
    </div>
  </div>

  <div
    *ngIf="!hideBorder"
    class="resupply-location-connector-container"
  >
    <div class="resupply-location-connector"></div>
  </div>
</div>
