@import './resupply-location/resupply-location.component.less';

@timeline-connector-width: 4px;
@timeline-mile-marker-width: 120px;
@timeline-mile-marker-right-margin: 12px;

.resupply-point-container {
  display: flex;
  align-items: center;
}

.timeline-mile-marker {
  width: @timeline-mile-marker-width;
  text-align: right;
  margin-right: 12px;

  .timeline-mile-marker-number {
    font-size: 16px;
    font-weight: bold;
  }
}

.timeline-bottom-connector-container {
  display: flex;

  .timeline-bottom-connector {
    width: @timeline-connector-width;
    height: 100%;
    background-color: blue;
  }

  .timeline-vertical-mile-marker {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(@timeline-mile-marker-width + @timeline-mile-marker-right-margin + @timeline-circle-border + (@timeline-circle-diameter / 2) - (@timeline-connector-width / 2));
  }
}