<div class="resupply-point-container">
  <div class="timeline-mile-marker">
    <span class="timeline-mile-marker-mile me-1">mile</span>
    <span class="timeline-mile-marker-number">{{ point.mileMarker }}</span>
  </div>

  <div
    *ngIf="colors"
    [style.background-color]="colors.main"
    [style.border-color]="colors.border"
    class="timeline-color-circle"
  >
  </div>

  <div *ngFor="let location of point.locations">
    <div class="resupply-point-name">{{ location.name }}</div>
    <div class="resupply-point-miles-from-trail">{{ location.milesFromTrail }} miles from trail</div>
  </div>
</div>
<div
  *ngIf="distanceFromNextResupply"
  [style.height]="distanceFromNextResupply * 1.5 + 'px'"
  class="timeline-bottom-connector-container"
>
  <div class="timeline-bottom-connector"></div>
</div>