<div class="resupply-point-container">
  <div class="timeline-mile-marker">
    <span class="timeline-mile-marker-mile me-1">mile</span>
    <span class="timeline-mile-marker-number">{{ point.mileMarker }}</span>
  </div>

  <div
    *ngFor="let location of point.locations; let last = last"
    class="resupply-point-location-container"
  >
    <pct-resupply-location
      [location]="location"
      [mileMarker]="point.mileMarker"
      [hideBorder]="last"
    ></pct-resupply-location>
  </div>
</div>

<div
  *ngIf="distanceFromNextResupply"
  [style.height]="distanceFromNextResupply * heightMileScale + 'px'"
  class="timeline-bottom-connector-container"
>
  <div class="timeline-vertical-mile-marker">
    <fa-icon
      class="icon mb-1"
      icon="chevron-up"
    ></fa-icon>
    <span>{{ distanceFromNextResupply | number }} mi</span>
    <fa-icon
      class="icon mt-1"
      icon="chevron-down"
    ></fa-icon>
  </div>
  <div class="timeline-bottom-connector">
  </div>
</div>